/*navbar*/

/*accueil*/
.header{
	background-image: url("../img/01.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
}
h1{
	line-height: 120px;
	text-align: center;
	margin-top: 5%;
	color: #888;
	width: 100%;
	font-size: 40px;
	font-family: "Helvetica";
}
h1 span{
	font-weight: bold;
	color:#000;
}
.header p{
	font-family: "Helvetica";
	text-align: center;
	width: 100%;
	color: #fff;
}
/*Présentation*/
.presentation{
	padding-bottom: 20px;
}
.presentation h2{
	font-family: "Helvetica";
	text-align: center;
	color: #17224f;
	margin:5%;
}
.resume{
	color: #17224f;
	text-align: justify;
}
.icone{
	height: 150px;
	text-align: center;
}
.icone img{
	margin: 10px 0;
	height: 100px;
	width: 100px;
}
.icone p{
	color:#000;
}
.prestation{
	width: 100%;
	padding:0 !important;
	background-color: #2e4f7c;
}
.row{
	margin: 0px;
}
.prestation h2{
	text-align: center ;
	font-size: 2.5em;
	color: #000;
	margin:2%;
}
.textimg{
	height: 0;
	margin: 0;
	color:#fff;
	position: relative;
	line-height: 600%;
	font-size: 4em;
	text-align: center;
}
.btn{
	background-color: #feb913;
	border: #feb913;
	position: absolute;
	bottom: 10%;
	right: 7%;
}
.img_prestation{
	padding:10px;
}
@media screen and (max-width: 400px) {
	.header{
		background-size: 500px;
		height: 200px;
	}
	h1{
		font-size: 20px;
		line-height: 50px;
	}
	.textimg{
	line-height: 500%;
	font-size: 2.5em;
	color:red;
	}
}
@media screen and (max-width: 320px) {
	.header{
		background-size: 300px;
		height: 200px;
	}
	h1{
		font-size: 20px;
		line-height: 50px;
	}
	.textimg{
	line-height: 500%;
	font-size: 2.5em;
	color:green;
	}
}